/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

body {
  @apply text-dark;
}

h1,
h2,
h3,
h4 {
  @apply font-bold tracking-wide leading-none;
}

a {
  @apply text-blue font-bold;
}

/* .bg-dark a {
  @apply text-blue-light font-bold;
} */

.page-content {
  h2,
  h3,
  h4 {
    @apply leading-tight;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl mb-2;
  }

  h4 {
    @apply text-lg mb-2;
  }

  @media only screen and (min-width: 1024px) {
    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl mb-2;
    }

    h4 {
      @apply text-xl mb-2;
    }
  }
  p {
    @apply mb-3 leading-relaxed;
  }
  ul {
    @apply mb-8;
  }
  li {
    &:before {
      content: '- ';
    }
  }
}

.field {
  @apply appearance-none shadow border w-full py-2 px-3 text-gray-700 leading-tight;
}

.field:focus {
  @apply outline-none shadow-outline;
}

.field-label {
  @apply block text-white mb-2;
}

input[type='email'].field:focus:invalid {
  @apply shadow-none border-red;
}

@responsive {
  .btn {
    @apply pt-3 pb-2 px-4 tracking-wide leading-none text-white text-lg uppercase font-mono font-bold inline-block transition-colors duration-300;
  }

  .btn-sm {
    @apply pt-2 pb-1 px-2 tracking-wide leading-none text-white text-sm uppercase font-mono font-bold inline-block transition-colors duration-300;
  }
}

@tailwind utilities;

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

.page-enter-active,
.fading-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
